<h1> <%= @game.player_1.name %> attacked <%= @game.player_2.name %> </h1>
<h1> <%= @game.player_2.name %>'s health was reduced by 10 points </h1>
<%= @game.player_2.name %> hitpoints: <%= @game.player_2.hit_points %>
